@media screen and (max-width: 768px) {
  body {
    margin: 0;
  }

  /* Header */

  header {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0;
  }

  header .logo {
    text-align: center;
    padding: 16px 0;
  }

  nav {
    width: 100%;
  }

  nav ul {
    justify-content: space-around;
  }

  nav ul li {
    width: 50%;
    padding: 0;
    text-align: center;
  }

  nav ul li a {
    height: 50px;
    line-height: 50px;
    border-bottom: 3px solid var(--color-gray);
    padding: 0;
  }

  nav ul li a:hover {
    border-top: none;
    border-bottom: 3px solid var(--color-blue);
    color: var(--color-blue);
    padding: 0;
  }

  /* Main */

  main {
    padding: 0;
  }

  /* Search bar */

  .search {
    margin: 0 20px;
  }

  h1 {
    font-size: 22px;
  }

  .search__bar {
    margin: 30px 0;
  }

  .search__bar input {
    position: relative;
  }

  #text {
    display: none;
  }

  #icon {
    display: inline-block;
    padding: 10px;
    margin: 0;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--color-blue);
    position: relative;
    left: -8px;
  }

  #icon:hover {
    cursor: pointer;
  }

  .search__bar #icon i {
    color: white;
  }

  /* Filters */

  .search__filter > span {
    margin: 0;
  }

  .block_hotels {
    margin: 0;
  }

  /* Popular */
  .popular {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 0;
  }

  .popular .title {
    justify-content: space-between;
  }

  .popular ul {
    flex-direction: column;
  }

  .popular li {
    width: 100%;
  }

  /* Accommodation */

  .accommodation {
    background-color: transparent;
  }

  .accommodation ul {
    flex-direction: column;
  }

  .accommodation li {
    width: 100%;
  }

  /* Activity */

  .activity {
    padding: 20px;
    margin: 0;
    width: 100%;
  }

  .activity ul {
    flex-direction: column;
    align-items: center;
  }

  .activity ul li {
    width: 100%;
  }

  .activity__card--vertical {
    height: 180px;
  }

  .card__image--vertical {
    width: 100%;
    height: 120px;
  }

  .activity__card--medium {
    height: 180px;
  }

  .card__image--medium {
    width: 100%;
    height: 120px;
  }

  .activity__card--small {
    height: 180px;
  }

  .card__image--small {
    width: 100%;
    height: 120px;
  }

  .activity__card--big {
    height: 180px;
  }

  .card__image--big {
    width: 100%;
    height: 120px;
  }

  /* Footer */

  footer {
    flex-direction: column;
    padding: 50px 30px 10px 30px;
  }

  footer div {
    width: 100%;
    margin-bottom: 20px;
  }
}
